-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_perizinan
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `perizinan`
--

DROP TABLE IF EXISTS `perizinan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perizinan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nomor_izin` varchar(255) NOT NULL,
  `jenis_izin` enum('rekomendasi','izin','dispensasi') NOT NULL,
  `sub_jenis` varchar(255) DEFAULT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `pemohon` varchar(255) NOT NULL,
  `no_hp` varchar(255) DEFAULT NULL,
  `satker_id` bigint(20) unsigned NOT NULL,
  `berkas` varchar(255) DEFAULT NULL,
  `tanggal_terbit` date NOT NULL,
  `tanggal_akhir` date DEFAULT NULL,
  `pnbp` decimal(15,2) NOT NULL DEFAULT 0.00,
  `status` enum('aktif','hampir_habis','kadaluarsa') NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `perizinan_nomor_izin_unique` (`nomor_izin`),
  KEY `perizinan_satker_id_foreign` (`satker_id`),
  CONSTRAINT `perizinan_satker_id_foreign` FOREIGN KEY (`satker_id`) REFERENCES `satker` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perizinan`
--

LOCK TABLES `perizinan` WRITE;
/*!40000 ALTER TABLE `perizinan` DISABLE KEYS */;
/*!40000 ALTER TABLE `perizinan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perizinan_geo`
--

DROP TABLE IF EXISTS `perizinan_geo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perizinan_geo` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `perizinan_id` bigint(20) unsigned NOT NULL,
  `geojson` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`geojson`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `perizinan_geo_perizinan_id_foreign` (`perizinan_id`),
  CONSTRAINT `perizinan_geo_perizinan_id_foreign` FOREIGN KEY (`perizinan_id`) REFERENCES `perizinan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perizinan_geo`
--

LOCK TABLES `perizinan_geo` WRITE;
/*!40000 ALTER TABLE `perizinan_geo` DISABLE KEYS */;
/*!40000 ALTER TABLE `perizinan_geo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perizinan_lokasi`
--

DROP TABLE IF EXISTS `perizinan_lokasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perizinan_lokasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `perizinan_id` bigint(20) unsigned NOT NULL,
  `satker_id` bigint(20) unsigned NOT NULL,
  `ppk_id` bigint(20) unsigned NOT NULL,
  `nama_ruas_jalan` text NOT NULL,
  `sta_awal` varchar(255) DEFAULT NULL,
  `sta_akhir` varchar(255) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `perizinan_lokasi_perizinan_id_foreign` (`perizinan_id`),
  KEY `perizinan_lokasi_satker_id_foreign` (`satker_id`),
  KEY `perizinan_lokasi_ppk_id_foreign` (`ppk_id`),
  CONSTRAINT `perizinan_lokasi_perizinan_id_foreign` FOREIGN KEY (`perizinan_id`) REFERENCES `perizinan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `perizinan_lokasi_ppk_id_foreign` FOREIGN KEY (`ppk_id`) REFERENCES `ppk` (`id`) ON DELETE CASCADE,
  CONSTRAINT `perizinan_lokasi_satker_id_foreign` FOREIGN KEY (`satker_id`) REFERENCES `satker` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perizinan_lokasi`
--

LOCK TABLES `perizinan_lokasi` WRITE;
/*!40000 ALTER TABLE `perizinan_lokasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `perizinan_lokasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pnbp`
--

DROP TABLE IF EXISTS `pnbp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pnbp` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `perizinan_id` bigint(20) unsigned NOT NULL,
  `jumlah` decimal(15,2) NOT NULL,
  `tanggal_bayar` date DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pnbp_perizinan_id_foreign` (`perizinan_id`),
  CONSTRAINT `pnbp_perizinan_id_foreign` FOREIGN KEY (`perizinan_id`) REFERENCES `perizinan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pnbp`
--

LOCK TABLES `pnbp` WRITE;
/*!40000 ALTER TABLE `pnbp` DISABLE KEYS */;
/*!40000 ALTER TABLE `pnbp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dokumen`
--

DROP TABLE IF EXISTS `dokumen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dokumen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `perizinan_id` bigint(20) unsigned NOT NULL,
  `nama_file` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `tipe_dokumen` enum('jaminan_pelaksanaan','izin','lainnya') NOT NULL DEFAULT 'lainnya',
  `ukuran_file` int(11) NOT NULL COMMENT 'Size in KB',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dokumen_perizinan_id_foreign` (`perizinan_id`),
  CONSTRAINT `dokumen_perizinan_id_foreign` FOREIGN KEY (`perizinan_id`) REFERENCES `perizinan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dokumen`
--

LOCK TABLES `dokumen` WRITE;
/*!40000 ALTER TABLE `dokumen` DISABLE KEYS */;
/*!40000 ALTER TABLE `dokumen` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-08 11:31:44
